@font-face {
  font-family: 'Univers';
  src: url('public/font/univers67.woff2') format('woff2'),
       url('public/font/univers67.woff') format('woff'),
       url('public/font/univers67.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Univers';
  src: url('public/font/univers57.woff2') format('woff2'),
       url('public/font/univers57.woff') format('woff'),
       url('public/font/univers57.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Univers', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;

  color: #ffffff;
  /*background-color: #2f2f2f;*/
  text-shadow: 2px 2px 2px black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.icon-button:hover .icon-description {
    visibility: visible;
    opacity: 1;
}